// colors
$color_blue: #92caff;
$color_white_blue: rgba(153, 240, 255, 0.801);
$black: black;
$background_color_tr: rgba(124, 224, 255, 0.192);
$body_background_color: rgba(241, 241, 241, 0.52);

// font-size
$tables_thead: 20px;
$tables_tbody: 18px;
$h1: 26px